@IMPORT url("//fonts.googleapis.com/css?family=Roboto");

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #89B8FF 0%, #EEEEEE 100%) no-repeat fixed;
    font-family: Roboto, sans-serif;
}

a {
    font-family: Roboto, sans-serif;
    color: #000088;
}

button {
    color: #FFFFFF;
    border: none;
    background-color: #000088;
}

button:hover,
button:focus {
    background-color: #7788BB;
}

button:active {
    background-color: #000055;
}

.header {
    background-color: #000088;
    box-shadow: 0 0 8px 0 #000000;
}

.headerNavContainer > a {
    color: #556699;
}

.headerNavContainer > a:hover {
    color: #7788BB;
    font-weight: bold;
}

.headerNavContainer > a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.headerIcon {
    color: #556699;
}

.headerIcon:hover {
    color: #7788BB;
}

.content-container {
    box-shadow: 1px 1px 2px 1px #3F3F3F;
    border: none;
}

.post-title {
    color: #445588;
}

.post-update-container {
    border-color: #92D9FF;
}

.tag-wrapper {
    background-color: #000088;
}

.tag:hover {
    color: #35A5FF;
}

.file-input + label {
    color: #000088;
}

.mindy-md-heading {
    color: #445588;
}

.mindy-md-block-quote {
    background-color: #DDDDDD;
    padding:2px 0 2px 7px;
}

.mindy-md-code,
.mindy-md-fenced-code-block {
    background-color: #000083;
    color: #C4E9FF;
}

.mindy-md-code {
    padding: 1px 3px;
}

.mindy-md-fenced-code-block {
    padding: 0 20px 20px 0;
}
