@IMPORT url("//fonts.googleapis.com/css?family=Roboto");

html {
    background-image: linear-gradient(to bottom, #89B8FF 0%, #EEEEEE 100%);
    background-attachment: fixed;
}

a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #000088;
}

button {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    border: none;
    box-shadow: none;
    padding: 5px 15px;
    background-color: #000088;
}

button:hover,
button:focus {
    background-color: #7788BB;
}

button:active {
    background-color: #000055;
}

#header-logo-container {
    display: inline-block;
    float: left;
    min-height: 39px;
}

#header-logo {
    padding: 3px 0 0 3px;
    display: block;
}

.header {
    background-color: #000088;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 8px 0 #000000;
}

.headerLinkContainer {
    clear: both;
}

.headerNavContainer {
    margin: 0;
    padding: 0 0 0 20px;
    float: left;
}

.headerNavContainer > a {
    font-family: Roboto, sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color: #556699;
    display: inline-block;
    vertical-align: bottom;
}

.headerNavContainer > a:hover {
    color: #7788BB;
    font-weight: bold;
}

.headerNavContainer > a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.headerIconContainer {
    margin: 0;
    float: right;
}

.headerIcon {
    color: #556699;
    padding-right: 6px;
}

.headerIcon:hover {
    color: #7788BB;
}

.content-container {
    background-color: #FFFFFF;
    position: relative;
    top: 5em;
    margin: 1em auto 8em auto;
    width: 70%;
    box-shadow: 1px 1px 2px 1px #3F3F3F;
    padding: 1em 2em 1em 2em;
    max-width: 46em;
}

.post-title {
    font-family: Roboto, sans-serif;
    font-size: 3.5em;
    color: #445588;
    padding: 0 0 10px 0;
}

.post-date {
    font-style: italic;
    float: right;
}

.navigation-buttons {
    display: inline-block;
    width: 100%;
}

.previous-post {
    float: left;
}

.next-post {
    float: right;
}

.content-title-edit-container {
    text-align: center;
}

.content-title-edit {
    font-size: 2.5em;
    text-align: center;
}

.content {
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

.post-update-container {
    border-color: #92d9ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 10px 10px 7px 10px;
    margin: 0 0 25px 0;
}

.post-update-date {
    font-style: italic;
}

.tag-container {
    display: inline-block;
    width: 100%;
}

.tag-wrapper {
    background-color: #000088;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 2px;
    float: left;
}

.tag {
    color: #FFFFFF;
}

.tag:hover {
    color: #35A5FF;
}

.tag-remove {
    margin-left: 5px;
}

.add-tag-text {
    margin: 7px 2px;
}

.post-action-container {
    text-align: right;
}
